body
{
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.header
{
    margin: 0 12px;
    height: 27px;
    background-color: #4b6ea9;
    border: 1px solid #30599a;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
}
.logo
{
    position: absolute;
    top: 50%;
    left: 9px;
    margin-top: -8px;
}
.logo__img
{
    height: 16px;
    width: 75px;
}
.calendar
{
    margin-top: 60px;
    white-space: nowrap;
}
.calendar__timeline
{
    position: relative;
    top: 1px;
    display: inline-block;
    text-align: right;
    width: 100px;
    padding-right: 5px;
}
.calendar__events
{
    white-space: normal;
    display: inline-block;
    padding: 0 10px;
    height: 720px;
    border-left: 1px solid #d6d6d6;
    background-color:  #ececec;
}
.calendar__events-inner
{
    width: 600px;
    position: relative;
}
.time
{
    line-height: 18px;
    height: 29.8px;
    font-size: 9px;
    color: #b0b0b0;
}
.time__hours
{
    color: #707070;
    font-size: 13px;
}
.event
{
    position: absolute;
    background: white;
    box-sizing: border-box;
    border-left: 4px solid #4b6ea9;
    overflow: hidden;
}
.event__inner
{
    border: 1px solid #d6d6d6;
    border-left: none;
    box-sizing: border-box;
    height: 100%;
}
.event__title
{
    overflow: hidden;
    font-size: 12px;
    color: #4b6ea9;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 7px 0 0 7px;
}
.event__hidden
{
    display: none;
}
.event__location
{
    font-size: 9px;
    color: #999;
    overflow: hidden;
    padding-left: 7px;
}
