/**
 * CSS naming convention follows BEM methodology
 * see http://bem.info/method/definitions/
 */
.page
{
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.header
{
    position: relative;

    height: 27px;
    margin: 0 12px;

    border: 1px solid #30599a;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #4b6ea9;
}
.logo
{
    position: absolute;
    top: 50%;
    left: 9px;

    margin-top: -8px;
}
.logo__img
{
    width: 75px;
    height: 16px;
}
.calendar
{
    margin: 60px 0;

    white-space: nowrap;
}
.calendar__timeline
{
    position: relative;
    top:  -8px;

    display: inline-block;

    width: 100px;
    padding-right: 5px;

    text-align: right;
    vertical-align: top;
}
.calendar__events
{
    display: inline-block;

    height: 720px;
    padding: 0 10px;

    vertical-align: top;
    white-space: normal;

    border-left: 1px solid #d6d6d6;
    background-color:  #ececec;
}
.calendar__events-inner
{
    position: relative;

    width: 600px;
}
.time
{
    height: 29.8px;

    color: #b0b0b0;

    font-size: 9px;
    line-height: 18px;
}
.time__hours
{
    color: #707070;

    font-size: 13px;
}
.event
{
    position: absolute;

    overflow: hidden;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-left: 4px solid #4b6ea9;
    background: white;
}
.event__inner
{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;

    border: 1px solid #d6d6d6;
    border-left: none;
}
.event__title
{
    overflow: hidden;

    padding: 7px 0 0 7px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #4b6ea9;

    font-size: 12px;
}
.event__hidden
{
    display: none;
}
.event__location
{
    overflow: hidden;

    padding-left: 7px;

    color: #999;

    font-size: 9px;
}
